<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paper.year %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
